<%= simple_form_for(@attachment, html: {multipart: true}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :label %>
    <%= f.input :attached_file %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
